/* Garante que o body e a página ocupem 100% da tela */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/fundo.png'); /* Escurece a imagem de fundo */
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginBox {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}


  
  .title {
    font-size: 24px;
    color: #0066cc; /* Título azul */
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 15px;
    margin-right: 20px; /* Adicionado margem à direita */
    text-align: left;
    color: #000; /* Texto preto */
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* Fundo branco */
    color: #000; /* Texto preto */
  }
  
  input::placeholder {
    color: #888; /* Cor do placeholder para melhor contraste */
  }
  
  input:focus {
    border-color: #0066cc;
    outline: none;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .loginButton:hover {
    background-color: #0056b3;
  }
  
  .forgotPassword {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #000; /* Texto preto */
    text-decoration: none;
  }
  
  .footer {
    font-weight: bold;
    margin-top: 20px;
    font-size: 12px;
    color: #000; /* Texto preto */
  }
  .titleContainer {
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 20px;
  }
  
  .logo {
    width: 30px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 30px;
    margin-right: 10px; /* Espaço entre a imagem e o texto */
  }
